doctype html
html
  head
    title= `${title} | ${h.siteName}`
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/screens.css')
    link(rel='stylesheet', href='/css/flash.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(href="https://fonts.googleapis.com/css?family=Raleway:300&display=swap" rel="stylesheet")
  body
    h1#no-students.hidden No Connected Students
    div.container#container
      .flashes

    script(src="/js/screens.js")