doctype html
html
  head
    title= `${title} | ${h.siteName}`
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/screens.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    div.container#container
        

    script(src="/js/screens.js")
    script(src="https://unpkg.com/peerjs@1.0.0/dist/peerjs.min.js")