doctype html
html
  head
    title= `${title} | ${h.siteName}`
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/connect.css')
    link(rel='stylesheet', href='/css/flash.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(href="https://fonts.googleapis.com/css?family=Raleway:300&display=swap" rel="stylesheet")
  body
    div.container
        section.card
            h1 Login
            form#connect-form.connect-form
                section.nameRow
                    input#email(type="text", name="email" placeholder="Email")
                    input#password(type="text", name="password" placeholder="Password")
                button#submit Submit
    script(src="/js/login.js")