doctype html
html
  head
    title= `${title} | ${h.siteName}`
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/screenShare.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    .container
        h2=`${firstName} ${lastName}`
        .stream-container
          video#screen(autoplay)
          audio#voice(autoplay)
        .controls
          button#shareScreen--button Share Screen
          button#stopCapture--button Stop Capture
    script(src="/js/stream.js")