doctype html
html
  head
    title= `${title} | ${h.siteName}`
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/screenShare.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    .container
        button#shareScreen--button Share Screen
        button#stopCapture--button Stop Capture
        video#screen(autoplay)
        audio#voice(autoplay)
    script(src="/js/stream.js")
    script(src="https://unpkg.com/peerjs@1.0.0/dist/peerjs.min.js")