@keyframes slideIn {
  0% {
    transform: translateX(-10px);
	}
  50% {
    transform: translateX(10px);
	}
  100% {
    transform: translateX(0px);
	}
}
.flashes {
  position: absolute;
  top: 1%;
  width: 80%;
  left: 10%;
}
.flash:after {
  content: '';
  display: block;
  width: calc(100% - 12px);
  height: calc(100% - 12px);
  background: white;
  position: absolute;
  top: 6px;
  left: 6px;
  right: 6px;
  z-index: -1;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}
.flash {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
  margin-bottom: 2rem;
  padding: 2rem;
  z-index: 1;
  display: flex;
  animation: slideIn forwards 0.1s ease-in-out 2;
  animation-timing-function: cubic-bezier(0.01, 1.68, 0.58, 1);
}
.flash + .flash {
  animation-delay: 0.55s;
}
.flash + .flash + .flash {
  animation-delay: 0.8s;
}
.flash__text {
  flex: 1;
}
.flash__remove {
  background: none;
  color: black;
  border: 0;
}
.flash__remove:hover {
  background: grey;
  color: white;
}

.flash--success {
  border-radius: 15px;
  background: linear-gradient(135deg, rgb(26, 185, 111) 0%, rgb(17, 156, 63) 100%);
}
.flash--error {
  border-radius: 15px;
  background: linear-gradient(135deg, rgb(185, 26, 26) 0%, rgb(156, 17, 17) 100%);
}
.flash--info {
  border-radius: 15px;
  background: linear-gradient(135deg, rgb(245, 245, 245) 0%, rgb(167, 167, 167) 100%);
}
.flash p {
  margin: 0;
}