.container {
    display: grid;
    place-items: center;
    height: 100%;
    width: 100%;
}

.mainView {
    display: grid;
    place-items: center;
    height: 100%;
    width: 100%;
}

h1 {
    font-size: 2em;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 20px;
}

.card {
    /* height: 80%; */
    width: 75%;
    border-radius: 15px;
    display: grid;
    place-items: center;
    background-color: whitesmoke;
    padding: 20px;
    /* grid-template-rows: repeat(3, 1fr); */
}

#addCourse-form {
    margin-top: 1em;
    margin-bottom: 1em;
    display: grid;
    place-items: center;
    grid-template-rows: repeat(3, 1fr);
    width: 50%;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

.nameRow {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
}

input[type='text'] {
    background-color: inherit;
    font-size: 1em;
    padding-bottom: 5px;
    border: none;
    outline: none;
    border-bottom: solid #375bb6 1px;
    font-family: inherit;
}

select {
    font-size: 0.75em;
}

button {
    outline: none;
    border: none;
    background-color: inherit;
    font-size: 1.25em;
    padding: 10px;
    border-radius: 10px;
    background-color: #375bb6;
    color: white;
    font-family: inherit;
}

input[type='button']:active {
    background-color: #243b75;
}

@media only screen and (max-width: 940px) {
    input[type='text'] { 
       font-size: .75em; 
    }
}

.courseList {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 25px;
    width: 80%;
}

.course {
    text-decoration: none;
    font-family: 'Cutive Mono', monospace;
    font-size: 1.25em;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
    display: grid;
    padding: 10px;
    grid-template-areas: 
        "courseHeader instHeader instHeader courseNameHeader courseNameHeader joinBtn"
        "courseNumber instructor instructor courseName courseName joinBtn"
    ;
    width: 100%;
    column-gap: 10px;
}

.header {
    color: grey;
    font-size: 1em;
}

.courseHeader {
    grid-area: courseHeader;
}

.instHeader {
    grid-area: instHeader;
}

.courseNumber {
    grid-area: courseNumber;
}

.instructor {
    grid-area: instructor;
}

.joinBtn {
    grid-area: joinBtn;
}

.courseNameHeader {
    grid-area: courseNameHeader;
}

.courseName {
    grid-area: courseName;
}

.courseManagement {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2em;
}

#addProctorModal {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(34, 34, 34, 0.589);
    display: grid;
    place-items: center;
}

.addProctorCard {
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    width: 50%;
    display: grid;
    place-items: center;
    position: relative;
}

.addProctorForm {
    display: grid;
    place-items: center;
    grid-template-rows: 1fr 1fr;
    row-gap: 15px;
    width: 80%;
}

.addProctorForm button {
    width: 10rem;
}

#exitProctorForm {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    color: black;
}

#exitProctorForm:hover {
    color: white;
    background-color: #375bb6;
}

.hidden {
    visibility: hidden !important;
}

.blur {
    filter: blur(5px);
}

.mono {
    font-family: 'Cutive Mono', monospace;
}

.flash span {
    display: block;
    text-align: center;
    padding-top: .75rem;
    font-size: 1.25rem;
}

.fa-copy {
    position: relative;
}

span.tooltip {
    position: absolute;
    background-color: rgb(61, 61, 61);
    padding: 10px;
    color: white;
    font-size: 0.75em;
    font-family: 'Raleway', sans-serif;
    border-radius: 35px;
    left: -100%;
    margin-top: 15px;
}

span.tooltip::after {
    content: "";
    position: absolute;
    top: -55%;
    left: 35%;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent rgb(61, 61, 61) transparent;
}

.fa-copy:hover>span.tooltip {
    visibility: visible !important;
}