.container {
    display: grid;
    place-items: center;
    height: 100%;
    width: 100%;
}

.stream-container {
    border: 1px solid #999;
    width: 98%;
    height: 100%;
    max-width: 1080px;
    background-color: black;
}

video {
    width: 98%;
    height: 100%;
    max-width: 1080px;
}

h2 {
    color: white;
}