.container {
    display: grid;
    place-items: center;
    height: 100%;
    width: 100%;
}

.stream-container {
    border: 1px solid #999;
    width: 98%;
    height: 97%;
    background-color: black;
}

video {
    width: 98%;
    height: 97%;
}

h2 {
    color: white;
}